


$backgroundColor: #f4f4f4;

$font-family: 'Roboto', sans-serif;

$text-color: #333;
$font-size-desktop: 16px;
$font-size-mobile: 14px;
$breakpoint-mobile: 550px;

$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;